:root {
  --primary-100: #ff5733;
  --primary-200: #ff8a5f;
  --primary-300: #fff3bf;
  --accent-100: #ffc300;
  --accent-200: #916600;
  --text-100: #ffffff;
  --text-200: #c0c0c0;
  --bg-100: #1c1c1c;
  --bg-200: #2b2b2b;
  --bg-300: #434343;
  --bg-400: rgb(255 243 191 / 0.5);
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Roboto Condensed', sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 11rem;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: var(--bg-100);
  color: var(--text-200);
  font-family: var(--primary-font);
}

/** Globals **/
h1,
h2,
h3 {
  margin: 0;
  font-family: var(--secondary-font);
  color: var(--primary-300);
}

h2 {
  font-size: 3.2rem;
}

abbr[title] {
  text-decoration: none;
}

.container {
  padding: 1rem;
  max-width: 100%;
  margin: 2rem auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 80%;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 70%;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 70%;
  }
}

@media (min-width: 2000px) {
  .container {
    max-width: 50%;
  }
}

.text-bold {
  font-weight: 700;
}

.border {
  padding: 2rem;
  border: 0.1rem solid var(--bg-300);
  border-radius: 1rem;
}

.underline {
  display: inline-block;
}

.underline::before {
  content: '#';
  color: var(--bg-400);
  font-size: 2.8rem;
}

.underline::after {
  display: block;
  margin-top: -0.5rem;
  height: 0.5rem;
  width: 110%;
  content: '';
}

.underline.primary-100::after {
  background-color: var(--primary-100);
}

.underline.primary-200::after {
  background-color: var(--primary-200);
}

.underline.accent-100::after {
  background-color: var(--accent-100);
}

.underline.accent-200::after {
  background-color: var(--accent-200);
}

.alt {
  color: var(--bg-100);
}

.btn {
  display: block;
  width: 100%;
  height: 4rem;
  padding: 1rem;
  line-height: initial;
  font-family: var(--secondary-font);
  font-weight: 900;
  text-align: center;
  text-decoration: none;
  border-radius: 1rem;
  border: 0.2rem solid var(--bg-300);
  background-color: var(--bg-200);
  color: var(--text-100);
}

.btn:hover {
  cursor: pointer;
}

img {
  max-width: 100%;
  object-fit: cover;
}

input:not([type='submit']),
textarea {
  border: none;
  background-color: var(--bg-200);
  padding: 1rem;
  border-radius: 1rem;
  color: var(--text-200);
}

input:not([type='submit']):active,
input:not([type='submit']):focus,
textarea:active,
textarea:focus {
  outline: var(--accent-100) solid 0.1rem;
}

textarea {
  resize: none;
}

/** Header & Navbar **/
.header {
  position: sticky;
  top: 0;
  z-index: 1;
  color: var(--primary-300);
  background-color: var(--bg-200);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.header .container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 6fr 2fr;
  gap: 1rem;
  align-items: center;
  justify-items: self-start;
  text-align: center;
}

@media (min-width: 992px) {
  .header .container {
    grid-template-columns: 2fr 6fr;
  }
}

.header .logo {
  height: 5rem;
  margin: 1rem 0;
  grid-column: 1 / 7;
}

@media (min-width: 992px) {
  .header .logo {
    grid-column: unset;
  }
}

.btn-nav {
  background-color: transparent;
  grid-column: 7 / 9;
  width: 4rem;
  height: fit-content;
  border: none;
}

@media (min-width: 992px) {
  .btn-nav {
    display: none;
  }
}

.btn-nav img {
  width: 85%;
  object-fit: cover;
}

.nav {
  width: 100%;
  grid-column: 1 / 9;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 992px) {
  .nav {
    height: auto;
    grid-column: unset;
    flex-direction: row;
    justify-content: flex-end;
  }
}

.d-none {
  display: none;
}

@media (min-width: 992px) {
  .d-none {
    display: flex;
  }
}

.nav a {
  text-decoration: none;
  padding: 1rem;
  color: var(--text-100);
  transition: color 300ms, border-color 300ms;
  border: 0.1rem solid var(--bg-200);
  border-radius: 1rem;
}

.nav a:hover {
  color: var(--accent-100);
  border-color: var(--bg-300);
}

/** Sobre mí  **/
.presentation {
  display: grid;
  place-items: center;
  text-align: center;
}

.presentation h1 {
  margin-bottom: 0;
  color: var(--accent-100);
  font-size: 4.8rem;
}

.presentation img {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .presentation img {
    width: 30rem;
    height: 30rem;
  }
}

.about-me-text {
  justify-self: end;
}

/** Card **/
.cards {
  display: grid;
  gap: 2rem;
  margin: 2rem auto;
}

@media (min-width: 768px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .card:last-of-type {
    grid-column: 1 / 3;
  }
}

@media (min-width: 992px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }

  .card:last-of-type {
    grid-column: unset;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 20rem;
  background-color: var(--bg-200);
  border-radius: 1rem;
  transition: transform 300ms, box-shadow 300ms;
  text-align: center;
}

.card:hover {
  transform: scale(1.025) !important;
  box-shadow: 0.05rem 0.05rem 1rem 0.1rem var(--bg-400);
}

.card :where(h3, main, footer) {
  padding: 1rem;
}

.card h3 {
  font-size: 2.4rem;
}

.card p {
  margin: 0;
}

.card img {
  width: 100%;
  height: 20rem;
  margin-bottom: 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.card footer {
  font-size: 1.4rem;
}

/** Proyectos **/
.card.project {
  justify-content: space-between;
}

.card.project footer {
  font-size: 1.6rem;
}

/** Footer **/
.footer {
  background-color: var(--bg-200);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0;
}

.footer img {
  width: 10rem;
}

.footer-social-media {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.footer-social-media a {
  width: 4rem;
  transition: all 300ms;
}

.footer-social-media a:nth-child(even):hover {
  transform: scale(1.1) rotate(15deg);
}

.footer-social-media a:nth-child(odd):hover {
  transform: scale(1.1) rotate(-15deg);
}

.footer-develper-info {
  width: 100%;
  margin-top: 2rem;
  text-align: center;
}

@media (min-width: 768px) {
  .footer-develper-info {
    text-align: left;
    display: flex;
    justify-content: space-between;
  }
}

/** Schools **/
.card.school header {
  display: grid;
  place-items: center;
}

.card.school footer {
  font-style: italic;
  font-family: var(--secondary-font);
}

.card.school img {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  margin: 2rem auto;
  object-fit: cover;
}

/** Form **/

.contact h3 {
  margin-top: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  margin: 2rem auto;
  width: 100%;
}

.form label {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
